<ul class="list-inline pull-right social-icons hidden-xs">
	<li><a target="_blank" href="https://www.facebook.com/pages/digitalista/1588687611362421" title="Facebookseite von digitalista aufrufen"><i class="fa fa-facebook"></i></a></li>
	<li><a target="_blank" href="https://twitter.com/digitalistaDE" title="digitalista auf twitter besuchen"><i class="fa fa-twitter"></i></a></li>
	<li><a target="_blank" href="http://www.digitalista.de/rss.xml" title="RSS Feed aufrufen"><i class="fa fa-rss"></i></a></li>
	<li><a target="_blank" href="https://soundcloud.com/www-digitalista-de" title="digitalista auf Soundcloud besuchen"><i class="fa fa-soundcloud"></i></a></li>
	<li><a target="_blank" href="https://www.youtube.com/user/digitalistaDE" title="digitalista auf Youtube besuchen"><i class="fa fa-youtube"></i></a></li>
</ul>