{namespace neos=TYPO3\Neos\ViewHelpers}
<f:render section="itemList" arguments="{items: items, site: site}" />

<f:section name="itemList">
	<ul class="nav nav-primary nav-pills">
		<f:for each="{items}" as="item" iteration="menuItemIterator">
			<li class="{item.state}">
				<neos:link.node node="{item.node}">{item.label}</neos:link.node>
			</li>
		</f:for>
		<li class="hidden-sm hidden-xs">
			<ul class="list-inline header-socials">
				<li><a target="_blank" href="https://www.facebook.com/pages/digitalista/1588687611362421" title="Facebookseite von digitalista aufrufen"><i class="fa fa-facebook"></i></a></li>
				<li><a target="_blank" href="https://twitter.com/digitalistaDE" title="digitalista auf twitter besuchen"><i class="fa fa-twitter"></i></a></li>
				<li><a target="_blank" href="https://soundcloud.com/www-digitalista-de" title="digitalista auf Soundcloud besuchen"><i class="fa fa-soundcloud"></i></a></li>
				<li><a target="_blank" href="https://www.youtube.com/user/digitalistaDE" title="digitalista auf Youtube besuchen"><i class="fa fa-youtube"></i></a></li>
			</ul>
		</li>
	</ul>
</f:section>
