{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
{namespace dig=Jhoechtl\Digitalista\ViewHelpers}
<f:if condition="{newsList}">
	<f:then>

		<ul class="news-day-list list-unstyled">
			<dig:groupedForDate each="{newsList}" as="newsDate" groupBy="properties.creationDate" groupKey="day">
				<li>
					<f:if condition="{day} == ''">
						<f:else>
							<h1>{day}</h1>
						</f:else>
					</f:if>
					<ul class="news-on-day list-unstyled">
						<f:for each="{newsDate}" as="news">
							<li>
								<small>[{f:format.date(format:'H:i', date:news.properties.creationDate)}]</small>
								<neos:link.node node="{news}">{news.properties.newsTitle -> f:format.raw()}</neos:link.node>
							</li>
						</f:for>
					</ul>
				</li>
			</dig:groupedForDate>
		</ul>
	</f:then>
	<f:else>
		<p>No news in list</p>
	</f:else>
</f:if>